## Movielens 영화 추천 실습

In [1]:
# MF 모델 학습 방법을 토대로, 내가 좋아할만한 영화 추천 시스템을 제작해 보겠습니다.
# 이번에 활용할 데이터셋은 추천시스템의 MNIST라고 부를만한 Movielens 데이터입니다.

# 유저가 영화에 대해 평점을 매긴 데이터가 데이터 크기 별로 있습니다. MovieLens 1M Dataset 사용을 권장합니다.
# 별점 데이터는 대표적인 explicit 데이터입니다. 하지만 implicit 데이터로 간주하고 테스트해볼 수 있습니다.
# 별점을 시청횟수로 해석해서 생각하겠습니다.
# 또한 유저가 3점 미만으로 준 데이터는 선호하지 않는다고 가정하고 제외하겠습니다.

## 1) 데이터 준비와 전처리

In [2]:
# Movielens 데이터는 rating.dat 안에 이미 인덱싱까지 완료된 사용자-영화-평점 데이터가 깔끔하게 정리되어 있습니다.

In [3]:
import pandas as pd
import os
data_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/ratings.dat'
data_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
data = pd.read_csv(data_file_path, sep='::', names=data_cols, engine='python')
orginal_data_size = len(data)

In [4]:
# 필요없는 항목은 삭제한다.
data.drop('timestamp', axis=1, inplace=True)

In [5]:
data.head()

   user_id  movie_id  rating
0        1      1193       5
1        1       661       3
2        1       914       3
3        1      3408       4
4        1      2355       5

In [6]:
# 3점 이상만 남깁니다.
data = data[data['rating']>=3]
filtered_data_size = len(data)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [7]:
# data 컬럼의 이름을 count로 바꿉니다.
data.rename(columns={'rating':'count'}, inplace=True)

In [8]:
# 영화 제목을 보기 위해 메타 데이터를 읽어옵니다.
movie_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [9]:
# 여기까지가 전처리입니다. 이후에는 이전 스텝에 소개했던 것과 동일한 방식으로 
# MF model을 구성하여 내가 좋아할 만한 영화를 추천해 볼 수 있습니다.

## 2) 분석해 봅시다.

In [10]:
# ratings에 있는 유니크한 영화 개수
# pandas.DataFrame.nunique()은 특정 컬럼에 포함된 유니크한 데이터의 개수를 알아보는데 유용합니다.
data['movie_id'].nunique() # 영화갯수

3628

In [11]:
# data에 있는 유니크한 사용자 수
data['user_id'].nunique()

6039

In [12]:
# 가장 인기있는 영화 30개(인기순)
# 영화제목과 같이 보여주기 위해서 movies에서 영화제목을 가져옴
# data1 = data.copy()
data = pd.merge(data, movies[['movie_id', 'title']], how='left', on='movie_id')

In [13]:
data.head()

   user_id  movie_id  count                                   title
0        1      1193      5  One Flew Over the Cuckoo's Nest (1975)
1        1       661      3        James and the Giant Peach (1996)
2        1       914      3                     My Fair Lady (1964)
3        1      3408      4                  Erin Brockovich (2000)
4        1      2355      5                    Bug's Life, A (1998)

In [14]:
# 가장 많이 본 영화 순서대로 조회해 보기
data.groupby(['movie_id', 'title'])['user_id'].count().sort_values(ascending=False)[:30]

movie_id  title
2858      American Beauty (1999)                                   3211
260       Star Wars: Episode IV - A New Hope (1977)                2910
1196      Star Wars: Episode V - The Empire Strikes Back (1980)    2885
1210      Star Wars: Episode VI - Return of the Jedi (1983)        2716
2028      Saving Private Ryan (1998)                               2561
589       Terminator 2: Judgment Day (1991)                        2509
593       Silence of the Lambs, The (1991)                         2498
1198      Raiders of the Lost Ark (1981)                           2473
1270      Back to the Future (1985)                                2460
2571      Matrix, The (1999)                                       2434
480       Jurassic Park (1993)                                     2413
2762      Sixth Sense, The (1999)                                  2385
608       Fargo (1996)                                             2371
110       Braveheart (1995)                                        2314
1580      Men in Black (1997)                                      2297
527       Schindler's List (1993)                                  2257
1197      Princess Bride, The (1987)                               2252
2396      Shakespeare in Love (1998)                               2213
1617      L.A. Confidential (1997)                                 2210
318       Shawshank Redemption, The (1994)                         2194
858       Godfather, The (1972)                                    2167
1265      Groundhog Day (1993)                                     2121
1097      E.T. the Extra-Terrestrial (1982)                        2102
2997      Being John Malkovich (1999)                              2066
2716      Ghostbusters (1984)                                      2051
296       Pulp Fiction (1994)                                      2030
356       Forrest Gump (1994)                                      2022
1240      Terminator, The (1984)                                   2019
1         Toy Story (1995)                                         2000
457       Fugitive, The (1993)                                     1941
Name: user_id, dtype: int64

In [15]:
# 가장 영화를 많이 본 유저 30명(시청 건수가 높은 순)
top_user_count = data.groupby('user_id')['movie_id'].count()
top_user_count.sort_values(ascending=False).head(30)

user_id
4169    1968
4277    1715
1680    1515
3618    1146
1015    1145
5831    1136
2909    1119
1941    1116
424     1106
1980    1054
3224    1034
1285    1034
3539    1029
3391    1012
3032    1003
1181     981
3841     976
4344     973
4448     970
1088     966
549      956
889      943
4725     936
678      933
1448     930
2063     906
3292     897
1698     883
4808     868
2116     855
Name: movie_id, dtype: int64

In [16]:
# 유저별 몇 개의 영화를 보는지에 대한 통계
user_count = data.groupby('user_id')['movie_id'].count()
user_count.describe()

count    6039.000000
mean      138.512668
std       156.241599
min         1.000000
25%        38.000000
50%        81.000000
75%       177.000000
max      1968.000000
Name: movie_id, dtype: float64

In [17]:
# 유저별 영화 시청 횟수 중앙값에 대한 통계
user_median = data.groupby('user_id')['count'].median()
user_median.describe()

count    6039.000000
mean        4.055970
std         0.432143
min         3.000000
25%         4.000000
50%         4.000000
75%         4.000000
max         5.000000
Name: count, dtype: float64

## 3) 내가 선호하는 영화를 5가지 골라서 rating에 추가해 줍시다.

### 내 데이터로 테스트해보기

In [18]:
# 내가 좋아하는 영화 제목 넣어보기, 
my_favorite = [ 'Fargo (1996)', 'Toy Story (1995)' ,'Braveheart (1995)' ,'Sixth Sense, The (1999)' ,'Pulp Fiction (1994)']

# 영화제목을 movie_id로 매핑하기
movie_title = dict(zip(data['title'], data['movie_id']))
movie_ids = [movie_title[i] for i in my_favorite]
movie_ids

# 6041이라는 user_id가 위 영화를 5회씩 시청했다고 입력하기
my_playlist = pd.DataFrame({'user_id': [6041]*5, 'movie_id': movie_ids , 'title': my_favorite, 'count':[5]*5})

if not data.isin({'user_id':[6041]})['user_id'].any():  # user_id에 'yesica'이라는 데이터가 없다면
    data = data.append(my_playlist, ignore_index=True)                           # 위에 임의로 만든 my_favorite 데이터를 추가해 줍니다. 
else: 
    print('user_id exists!')
data.tail(10)       # 잘 추가되었는지 확인해 봅시다.

        user_id  movie_id  count                              title
836473     6040      1090      3                     Platoon (1986)
836474     6040      1094      5            Crying Game, The (1992)
836475     6040       562      5    Welcome to the Dollhouse (1995)
836476     6040      1096      4             Sophie's Choice (1982)
836477     6040      1097      4  E.T. the Extra-Terrestrial (1982)
836478     6041       608      5                       Fargo (1996)
836479     6041         1      5                   Toy Story (1995)
836480     6041       110      5                  Braveheart (1995)
836481     6041      2762      5            Sixth Sense, The (1999)
836482     6041       296      5                Pulp Fiction (1994)

In [19]:
data['movie_id'].nunique() # 영화갯수는 그래도인지 확인한다

3628

In [20]:
# data에 있는 유니크한 사용자 수가 늘었는지 확인한다
data['user_id'].nunique()

6040

### 모델에 활용하기 위한 전처리 (실습)¶

In [21]:
# pandas.DataFrame.unique()은 특정 컬럼에 포함된 유니크한 데이터만 모아 줍니다. indexing 작업을 위해 매우 유용합니다.
# 고유한 유저, 영화를 찾아내는 코드
user_unique = data['user_id'].unique()
movie_title_unique = data['title'].unique()

# 유저, 영화를 indexing 하는 코드 idx는 index의 약자입니다.
user_to_idx = {v:k for k,v in enumerate(user_unique)}
movie_to_idx = {v:k for k,v in enumerate(movie_title_unique)}

data

        user_id  movie_id  count                                   title
0             1      1193      5  One Flew Over the Cuckoo's Nest (1975)
1             1       661      3        James and the Giant Peach (1996)
2             1       914      3                     My Fair Lady (1964)
3             1      3408      4                  Erin Brockovich (2000)
4             1      2355      5                    Bug's Life, A (1998)
...         ...       ...    ...                                     ...
836478     6041       608      5                            Fargo (1996)
836479     6041         1      5                        Toy Story (1995)
836480     6041       110      5                       Braveheart (1995)
836481     6041      2762      5                 Sixth Sense, The (1999)
836482     6041       296      5                     Pulp Fiction (1994)

[836483 rows x 4 columns]

In [22]:
# 인덱싱이 잘 되었는지 확인해 봅니다. 
print(user_to_idx[6041])    # 6040명의 유저 중 마지막으로 추가된 유저이니 6039가 나와야 한다.
print(movie_to_idx['Fargo (1996)'])

6039
51

In [23]:
# indexing을 통해 데이터 컬럼 내 값을 바꾸는 코드
# dictionary 자료형의 get 함수는 https://wikidocs.net/16 을 참고하세요.

# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구해 봅시다. 
# 혹시 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거합니다. 
temp_user_data = data['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(data):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    data['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체해 줍니다. 
else:
    print('user_id column indexing Fail!!')

# movie_to_idx을 통해 movie 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_movie_data = data['title'].map(movie_to_idx.get).dropna()
if len(temp_movie_data) == len(data):
    print('title column indexing OK!!')
    data['title'] = temp_movie_data
else:
    print('title column indexing Fail!!')

# 위의 인덱싱 작업을 통해서 내가 입력한 user_id가 6041에서 6039로 변경된 것을 볼 수 있다. 앞에 2개가 비어있었던 것임을 알 수 있다.
data

user_id column indexing OK!!
title column indexing OK!!

        user_id  movie_id  count  title
0             0      1193      5      0
1             0       661      3      1
2             0       914      3      2
3             0      3408      4      3
4             0      2355      5      4
...         ...       ...    ...    ...
836478     6039       608      5     51
836479     6039         1      5     40
836480     6039       110      5     87
836481     6039      2762      5     38
836482     6039       296      5    222

[836483 rows x 4 columns]

In [24]:
# 인덱싱이 잘 되었는지 확인해 봅니다. 
print(user_to_idx[6041])    # 6040명의 유저 중 마지막으로 추가된 유저이니 6039가 나와야 한다.
print(movie_to_idx['Fargo (1996)'])

6039
51

### 사용자의 명시적/암묵적 평가

In [25]:
# 우리의 데이터셋에서 1회만 영화를 시청한 데이터의 비율은 어떻게 될까요?
# 1회만 영화를 본 데이터의 비율을 보는 코드
only_one = data[data['count']<2]
one, all_data = len(only_one), len(data)
print(f'{one},{all_data}')
print(f'Ratio of only_one over all data is {one/all_data:.2%}')  # f-format에 대한 설명은 https://bit.ly/2DTLqYU

0,836483
Ratio of only_one over all data is 0.00%

## 4) CSR matrix를 직접 만들어 봅시다.

In [26]:
# csr_matrix((data, (row_ind, col_ind)), [shape=(M, N)])  
# where data, row_ind and col_ind satisfy the relationship a[row_ind[k], col_ind[k]] = data[k]., M,N은 matrix의 shape

# 실습 위에 설명보고 이해해서 만들어보기
from scipy.sparse import csr_matrix

num_user = data['user_id'].nunique()
num_movie = data['movie_id'].nunique()
num_movie_title = data['title'].nunique()

num_user, num_movie, num_movie_title

(6040, 3628, 3628)

In [27]:
csr_data = csr_matrix((data['count'].values, (data.user_id, data.title)), shape= (num_user, num_movie_title))
csr_data

<6040x3628 sparse matrix of type '<class 'numpy.longlong'>'
	with 836483 stored elements in Compressed Sparse Row format>

## 5) als_model = AlternatingLeastSquares 모델을 직접 구성하여 훈련시켜 봅시다.

In [28]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [29]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

In [30]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<3628x6040 sparse matrix of type '<class 'numpy.longlong'>'
	with 836483 stored elements in Compressed Sparse Column format>

In [31]:
# 모델 훈련
als_model.fit(csr_data_transpose)

HBox(children=(FloatProgress(value=0.0, max=15.0), HTML(value='')))

## 6) 내가 선호하는 5가지 영화 중 하나와 그 외의 영화 하나를 골라 훈련된 모델이 예측한 나의 선호도를 파악해 보세요.

In [32]:
# 모델 학습이 끝났습니다!
# 모델이 1)저의 벡터와 Fargo의 벡터를 어떻게 만들고 있는지와 
# 2)두 벡터를 곱하면 어떤 값이 나오는지 살펴보겠습니다.

In [33]:
movie_to_idx

{"One Flew Over the Cuckoo's Nest (1975)": 0,
 'James and the Giant Peach (1996)': 1,
 'My Fair Lady (1964)': 2,
 'Erin Brockovich (2000)': 3,
 "Bug's Life, A (1998)": 4,
 'Princess Bride, The (1987)': 5,
 'Ben-Hur (1959)': 6,
 'Christmas Story, A (1983)': 7,
 'Snow White and the Seven Dwarfs (1937)': 8,
 'Wizard of Oz, The (1939)': 9,
 'Beauty and the Beast (1991)': 10,
 'Gigi (1958)': 11,
 'Miracle on 34th Street (1947)': 12,
 "Ferris Bueller's Day Off (1986)": 13,
 'Sound of Music, The (1965)': 14,
 'Airplane! (1980)': 15,
 'Tarzan (1999)': 16,
 'Bambi (1942)': 17,
 'Awakenings (1990)': 18,
 'Big (1988)': 19,
 'Pleasantville (1998)': 20,
 'Wallace & Gromit: The Best of Aardman Animation (1996)': 21,
 'Back to the Future (1985)': 22,
 "Schindler's List (1993)": 23,
 'Meet Joe Black (1998)': 24,
 'Pocahontas (1995)': 25,
 'E.T. the Extra-Terrestrial (1982)': 26,
 'Titanic (1997)': 27,
 'Ponette (1996)': 28,
 'Close Shave, A (1995)': 29,
 'Antz (1998)': 30,
 'Girl, Interrupted (1999)': 31,
 'Hercules (1997)': 32,
 'Aladdin (1992)': 33,
 'Mulan (1998)': 34,
 'Hunchback of Notre Dame, The (1996)': 35,
 'Last Days of Disco, The (1998)': 36,
 'Cinderella (1950)': 37,
 'Sixth Sense, The (1999)': 38,
 'Apollo 13 (1995)': 39,
 'Toy Story (1995)': 40,
 'Rain Man (1988)': 41,
 'Driving Miss Daisy (1989)': 42,
 'Run Lola Run (Lola rennt) (1998)': 43,
 'Star Wars: Episode IV - A New Hope (1977)': 44,
 'Mary Poppins (1964)': 45,
 'Dumbo (1941)': 46,
 'To Kill a Mockingbird (1962)': 47,
 'Saving Private Ryan (1998)': 48,
 'Secret Garden, The (1993)': 49,
 'Toy Story 2 (1999)': 50,
 'Fargo (1996)': 51,
 'Dead Poets Society (1989)': 52,
 'Shine (1996)': 53,
 'Verdict, The (1982)': 54,
 'Shall We Dance? (Shall We Dansu?) (1996)': 55,
 'Courage Under Fire (1996)': 56,
 'Untouchables, The (1987)': 57,
 'Mission: Impossible (1996)': 58,
 'Few Good Men, A (1992)': 59,
 'Star Wars: Episode I - The Phantom Menace (1999)': 60,
 'Rebel Without a Cause (1955)': 61,
 'Total Recall (1990)': 62,
 'Hustler, The (1961)': 63,
 'Star Wars: Episode VI - Return of the Jedi (1983)': 64,
 'U.S. Marshalls (1998)': 65,
 'Jackal, The (1997)': 66,
 'Gladiator (2000)': 67,
 'Double Jeopardy (1999)': 68,
 'Yojimbo (1961)': 69,
 'Ran (1985)': 70,
 'Snake Eyes (1998)': 71,
 'Fisher King, The (1991)': 72,
 'Mister Roberts (1955)': 73,
 'Day the Earth Stood Still, The (1951)': 74,
 'Hunt for Red October, The (1990)': 75,
 'Outbreak (1995)': 76,
 'Simon Birch (1998)': 77,
 'Stand and Deliver (1987)': 78,
 'Maverick (1994)': 79,
 'Stand by Me (1986)': 80,
 'Green Mile, The (1999)': 81,
 'Lost World: Jurassic Park, The (1997)': 82,
 'Gandhi (1982)': 83,
 'Strictly Ballroom (1992)': 84,
 'League of Their Own, A (1992)': 85,
 'Bodyguard, The (1992)': 86,
 'Braveheart (1995)': 87,
 'Ronin (1998)': 88,
 'Payback (1999)': 89,
 'Spanish Prisoner, The (1997)': 90,
 'Close Encounters of the Third Kind (1977)': 91,
 'Terminator 2: Judgment Day (1991)': 92,
 'Alien: Resurrection (1997)': 93,
 'Guns of Navarone, The (1961)': 94,
 "Soldier's Story, A (1984)": 95,
 'On the Waterfront (1954)': 96,
 'Picnic (1955)': 97,
 'Mis�rables, Les (1998)': 98,
 'American Beauty (1999)': 99,
 'Amadeus (1984)': 100,
 'Remains of the Day, The (1993)': 101,
 'Demolition Man (1993)': 102,
 'Children of a Lesser God (1986)': 103,
 'Like Water for Chocolate (Como agua para chocolate) (1992)': 104,
 'Last of the Mohicans, The (1992)': 105,
 'Bonnie and Clyde (1967)': 106,
 'Jurassic Park (1993)': 107,
 'Prefontaine (1997)': 108,
 'Doctor Zhivago (1965)': 109,
 'Groundhog Day (1993)': 110,
 'Die Hard 2 (1990)': 111,
 'Man in the Iron Mask, The (1998)': 112,
 'Star Trek VI: The Undiscovered Country (1991)': 113,
 'Enemy of the State (1998)': 114,
 'Key Largo (1948)': 115,
 'Dances with Wolves (1990)': 116,
 'Star Wars: Episode V - The Empire Strikes Back (1980)': 117,
 'Con Air (1997)': 118,
 'Twister (1996)': 119,
 'Raiders of the Lost Ark (1981)': 120,
 'Silence of the Lambs, The (1991)': 121,
 'Waking Ned Devine (1998)': 122,
 'Ghostbusters II (1989)': 123,
 'Matrix, The (1999)': 124,
 'Armageddon (1998)': 125,
 'Shakespeare in Love (1998)': 126,
 'Serpico (1973)': 127,
 'French Connection, The (1971)': 128,
 'Conspiracy Theory (1997)': 129,
 'What About Bob? (1991)': 130,
 'Rocky (1976)': 131,
 'Kramer Vs. Kramer (1979)': 132,
 'Ed Wood (1994)': 133,
 'On Golden Pond (1981)': 134,
 'Chariots of Fire (1981)': 135,
 'Desperado (1995)': 136,
 'Die Hard: With a Vengeance (1995)': 137,
 'True Lies (1994)': 138,
 'October Sky (1999)': 139,
 'Clear and Present Danger (1994)': 140,
 'Fugitive, The (1993)': 141,
 "Sophie's Choice (1982)": 142,
 'Gone with the Wind (1939)': 143,
 'Getaway, The (1994)': 144,
 'Fifth Element, The (1997)': 145,
 'Thelma & Louise (1991)': 146,
 'Under Siege (1992)': 147,
 "Guess Who's Coming to Dinner (1967)": 148,
 'Grapes of Wrath, The (1940)': 149,
 'Independence Day (ID4) (1996)': 150,
 'Mr. Jones (1993)': 151,
 'Spartacus (1960)': 152,
 'Lethal Weapon 3 (1992)': 153,
 'As Good As It Gets (1997)': 154,
 'Indochine (1992)': 155,
 'Mask of Zorro, The (1998)': 156,
 'Shawshank Redemption, The (1994)': 157,
 'Man with the Golden Arm, The (1955)': 158,
 'Manhattan (1979)': 159,
 'Forrest Gump (1994)': 160,
 'Graduate, The (1967)': 161,
 'Animal House (1978)': 162,
 'Raising Arizona (1987)': 163,
 '28 Days (2000)': 164,
 'Happy Gilmore (1996)': 165,
 'Golden Child, The (1986)': 166,
 'Beverly Hills Ninja (1997)': 167,
 'Naked Gun: From the Files of Police Squad!, The (1988)': 168,
 'Fish Called Wanda, A (1988)': 169,
 'Being John Malkovich (1999)': 170,
 'Edge, The (1997)': 171,
 'Indiana Jones and the Last Crusade (1989)': 172,
 'Dragonheart (1996)': 173,
 'Blade (1998)': 174,
 'Men in Black (1997)': 175,
 'Ghost and the Darkness, The (1996)': 176,
 'Three Musketeers, The (1993)': 177,
 'Unforgiven (1992)': 178,
 'Rock, The (1996)': 179,
 'Young Guns (1988)': 180,
 'Young Guns II (1990)': 181,
 'Caddyshack (1980)': 182,
 'Butch Cassidy and the Sundance Kid (1969)': 183,
 'Crocodile Dundee (1986)': 184,
 'Easy Rider (1969)': 185,
 'Blazing Saddles (1974)': 186,
 'Deliverance (1972)': 187,
 'Indiana Jones and the Temple of Doom (1984)': 188,
 'Breakfast Club, The (1985)': 189,
 'Monty Python and the Holy Grail (1974)': 190,
 'Little Mermaid, The (1989)': 191,
 'Fistful of Dollars, A (1964)': 192,
 'Alien (1979)': 193,
 'Die Hard (1988)': 194,
 'Mad Max (1979)': 195,
 'King Kong (1933)': 196,
 'Jaws (1975)': 197,
 'Good, The Bad and The Ugly, The (1966)': 198,
 'Goldfinger (1964)': 199,
 'Terminator, The (1984)': 200,
 'Who Framed Roger Rabbit? (1988)': 201,
 'Gods and Monsters (1998)': 202,
 'Delicatessen (1991)': 203,
 'Clueless (1995)': 204,
 'Velvet Goldmine (1998)': 205,
 'Love! Valour! Compassion! (1997)': 206,
 'Citizen Ruth (1996)': 207,
 'Donnie Brasco (1997)': 208,
 'Wings of the Dove, The (1997)': 209,
 'Bound (1996)': 210,
 'Mrs. Dalloway (1997)': 211,
 'Bowfinger (1999)': 212,
 'Before Sunrise (1995)': 213,
 'Four Days in September (1997)': 214,
 'Orlando (1993)': 215,
 'Bridge on the River Kwai, The (1957)': 216,
 'Piano, The (1993)': 217,
 'Richard III (1995)': 218,
 'Pok�mon the Movie 2000 (2000)': 219,
 'Seven (Se7en) (1995)': 220,
 'South Park: Bigger, Longer and Uncut (1999)': 221,
 'Pulp Fiction (1994)': 222,
 'Celluloid Closet, The (1995)': 223,
 'L.A. Confidential (1997)': 224,
 'Cold Comfort Farm (1995)': 225,
 'Priest (1994)': 226,
 'Ravenous (1999)': 227,
 'X-Files: Fight the Future, The (1998)': 228,
 'Don Juan DeMarco (1995)': 229,
 'Death and the Maiden (1994)': 230,
 'Insider, The (1999)': 231,
 'Beautiful Thing (1996)': 232,
 'Usual Suspects, The (1995)': 233,
 'Paris Is Burning (1990)': 234,
 'Sleepy Hollow (1999)': 235,
 'Speed (1994)': 236,
 'All About My Mother (Todo Sobre Mi Madre) (1999)': 237,
 'Thin Red Line, The (1998)': 238,
 'Faculty, The (1998)': 239,
 'Pecker (1998)': 240,
 'Pillow Book, The (1995)': 241,
 'Out of Sight (1998)': 242,
 'Ghostbusters (1984)': 243,
 'Liar Liar (1997)': 244,
 'Player, The (1992)': 245,
 'Crumb (1994)': 246,
 'Creepshow (1982)': 247,
 'Good Will Hunting (1997)': 248,
 'Topsy-Turvy (1999)': 249,
 'Edward Scissorhands (1990)': 250,
 'Ice Storm, The (1997)': 251,
 'Trick (1999)': 252,
 'Mystery Men (1999)': 253,
 'Pi (1998)': 254,
 "There's Something About Mary (1998)": 255,
 'Go (1999)': 256,
 'Night of the Living Dead (1968)': 257,
 'Wild Reeds (1994)': 258,
 'Men With Guns (1997)': 259,
 'Living in Oblivion (1995)': 260,
 'Go Fish (1994)': 261,
 "Jackie Chan's First Strike (1996)": 262,
 'Office Killer (1997)': 263,
 'Mrs. Brown (Her Majesty, Mrs. Brown) (1997)': 264,
 'Sweet Hereafter, The (1997)': 265,
 'Fast, Cheap & Out of Control (1997)': 266,
 'Strawberry and Chocolate (Fresa y chocolate) (1993)': 267,
 'Poseidon Adventure, The (1972)': 268,
 'GoodFellas (1990)': 269,
 'Love and Death on Long Island (1997)': 270,
 'Election (1999)': 271,
 'Grosse Pointe Blank (1997)': 272,
 'Fight Club (1999)': 273,
 'All Over Me (1997)': 274,
 'Washington Square (1997)': 275,
 'North by Northwest (1959)': 276,
 'Babe: Pig in the City (1998)': 277,
 'Jackie Brown (1997)': 278,
 "Jacob's Ladder (1990)": 279,
 'Three Kings (1999)': 280,
 'Casino (1995)': 281,
 "Billy's Hollywood Screen Kiss (1997)": 282,
 'Smoke (1995)': 283,
 'Nightmare Before Christmas, The (1993)': 284,
 "Romy and Michele's High School Reunion (1997)": 285,
 'Incredibly True Adventure of Two Girls in Love, The (1995)': 286,
 'Happiness (1998)': 287,
 'Austin Powers: International Man of Mystery (1997)': 288,
 'Reservoir Dogs (1992)': 289,
 'Howards End (1992)': 290,
 'Maltese Falcon, The (1941)': 291,
 'Kundun (1997)': 292,
 'Final Destination (2000)': 293,
 'Waiting for Guffman (1996)': 294,
 'Big Lebowski, The (1998)': 295,
 'Afterglow (1997)': 296,
 'Little Voice (1998)': 297,
 'My Life in Pink (Ma vie en rose) (1997)': 298,
 'Mariachi, El (1992)': 299,
 'Shanghai Noon (2000)': 300,
 'Rushmore (1998)': 301,
 'Austin Powers: The Spy Who Shagged Me (1999)': 302,
 'Dick (1999)': 303,
 'Big Night (1996)': 304,
 'Fear and Loathing in Las Vegas (1998)': 305,
 'Opposite of Sex, The (1998)': 306,
 'Madness of King George, The (1994)': 307,
 'Bullets Over Broadway (1994)': 308,
 'Cruise, The (1998)': 309,
 'City of Lost Children, The (1995)': 310,
 'Welcome to the Dollhouse (1995)': 311,
 'Glengarry Glen Ross (1992)': 312,
 'Nowhere (1997)': 313,
 'Much Ado About Nothing (1993)': 314,
 "Boys Don't Cry (1999)": 315,
 'Misery (1990)': 316,
 'Twelve Monkeys (1995)': 317,
 'Rosencrantz and Guildenstern Are Dead (1990)': 318,
 'High Art (1998)': 319,
 'Bob Roberts (1992)': 320,
 "But I'm a Cheerleader (1999)": 321,
 'Babe (1995)': 322,
 'Dead Man Walking (1995)': 323,
 'Dead Man (1995)': 324,
 'Romancing the Stone (1984)': 325,
 'Top Gun (1986)': 326,
 'Gone in 60 Seconds (2000)': 327,
 "Pete's Dragon (1977)": 328,
 'Anastasia (1997)': 329,
 'Lion King, The (1994)': 330,
 "Murphy's Romance (1985)": 331,
 'Moonstruck (1987)': 332,
 'Jeremiah Johnson (1972)': 333,
 'Outlaw Josey Wales, The (1976)': 334,
 'To Gillian on Her 37th Birthday (1996)': 335,
 'Pretty Woman (1990)': 336,
 'Wyatt Earp (1994)': 337,
 'Other Sister, The (1999)': 338,
 'Arthur (1981)': 339,
 "My Best Friend's Wedding (1997)": 340,
 'Mighty Ducks, The (1992)': 341,
 'Blue Hawaii (1961)': 342,
 'Gypsy (1962)': 343,
 'Tequila Sunrise (1988)': 344,
 'Keeping the Faith (2000)': 345,
 'Patriot, The (2000)': 346,
 'Magnum Force (1973)': 347,
 'Babes in Toyland (1961)': 348,
 "Prizzi's Honor (1985)": 349,
 'Roustabout (1964)': 350,
 'Room with a View, A (1986)': 351,
 'Emma (1996)': 352,
 'Apple Dumpling Gang, The (1975)': 353,
 'West Side Story (1961)': 354,
 'Straight Story, The (1999)': 355,
 'Legends of the Fall (1994)': 356,
 'Sense and Sensibility (1995)': 357,
 'Starman (1984)': 358,
 'Benny & Joon (1993)': 359,
 'Dirty Dancing (1987)': 360,
 'Casablanca (1942)': 361,
 'Umbrellas of Cherbourg, The (Parapluies de Cherbourg, Les) (1964)': 362,
 'Paulie (1998)': 363,
 'Peggy Sue Got Married (1986)': 364,
 'Splash (1984)': 365,
 'Out of Africa (1985)': 366,
 'Grease (1978)': 367,
 'Little Big League (1994)': 368,
 'Witness (1985)': 369,
 'Where the Heart Is (2000)': 370,
 'Supercop (1992)': 371,
 'X-Men (2000)': 372,
 'Heat (1995)': 373,
 'Exorcist, The (1973)': 374,
 'Face/Off (1997)': 375,
 'Backdraft (1991)': 376,
 'In the Line of Fire (1993)': 377,
 'Tomorrow Never Dies (1997)': 378,
 'Patriot Games (1992)': 379,
 'Godfather: Part II, The (1974)': 380,
 'Elizabeth (1998)': 381,
 'Natural Born Killers (1994)': 382,
 "Mo' Better Blues (1990)": 383,
 'Jerry Maguire (1996)': 384,
 'Truman Show, The (1998)': 385,
 'Philadelphia (1993)': 386,
 'Batman: Mask of the Phantasm (1993)': 387,
 'Dead Presidents (1995)': 388,
 'Moll Flanders (1996)': 389,
 'Mr. Saturday Night (1992)': 390,
 'Cider House Rules, The (1999)': 391,
 'Summer of Sam (1999)': 392,
 'Private Parts (1997)': 393,
 'Amistad (1997)': 394,
 'Rob Roy (1995)': 395,
 'Poetic Justice (1993)': 396,
 'Waiting to Exhale (1995)': 397,
 'Soul Food (1997)': 398,
 'Anna and the King (1999)': 399,
 'Postino, Il (The Postman) (1994)': 400,
 'Eyes Wide Shut (1999)': 401,
 'He Got Game (1998)': 402,
 'Buffalo 66 (1998)': 403,
 "Devil's Own, The (1997)": 404,
 'Dolores Claiborne (1994)': 405,
 'People vs. Larry Flynt, The (1996)': 406,
 'Crimson Tide (1995)': 407,
 'Hamlet (1996)': 408,
 'Rudy (1993)': 409,
 "William Shakespeare's Romeo and Juliet (1996)": 410,
 'Firm, The (1993)': 411,
 'Deconstructing Harry (1997)': 412,
 'Akira (1988)': 413,
 'Ghost in the Shell (Kokaku kidotai) (1995)': 414,
 'Cyrano de Bergerac (1990)': 415,
 'Chasing Amy (1997)': 416,
 'Prince of Tides, The (1991)': 417,
 'What Dreams May Come (1998)': 418,
 'JFK (1991)': 419,
 'Heaven & Earth (1993)': 420,
 'Midnight in the Garden of Good and Evil (1997)': 421,
 'Six Degrees of Separation (1993)': 422,
 'Hilary and Jackie (1998)': 423,
 'Mis�rables, Les (1995)': 424,
 'Malcolm X (1992)': 425,
 'Bridges of Madison County, The (1995)': 426,
 'Interview with the Vampire (1994)': 427,
 'Alive (1993)': 428,
 'Scent of a Woman (1992)': 429,
 'Inkwell, The (1994)': 430,
 'Gattaca (1997)': 431,
 'Taxi Driver (1976)': 432,
 'Far and Away (1992)': 433,
 'Cop Land (1997)': 434,
 'Godfather: Part III, The (1990)': 435,
 'Nixon (1995)': 436,
 "What's Eating Gilbert Grape (1993)": 437,
 'Beloved (1998)': 438,
 'My Crazy Life (Mi vida loca) (1993)': 439,
 'True Romance (1993)': 440,
 "Eve's Bayou (1997)": 441,
 'Hard-Boiled (Lashou shentan) (1992)': 442,
 'Great Expectations (1998)': 443,
 'High Fidelity (2000)': 444,
 'Red Violin, The (Le Violon rouge) (1998)': 445,
 "General's Daughter, The (1999)": 446,
 'Adventures of Priscilla, Queen of the Desert, The (1994)': 447,
 'Powder (1995)': 448,
 'Leaving Las Vegas (1995)': 449,
 'Life Is Beautiful (La Vita � bella) (1997)': 450,
 'American History X (1998)': 451,
 'Cruel Intentions (1999)': 452,
 'Boogie Nights (1997)': 453,
 'Joy Luck Club, The (1993)': 454,
 'Robin Hood: Prince of Thieves (1991)': 455,
 'Arachnophobia (1990)': 456,
 'Nell (1994)': 457,
 'Mask, The (1994)': 458,
 'Clerks (1994)': 459,
 'Boiler Room (2000)': 460,
 'Meet the Parents (2000)': 461,
 'Time to Kill, A (1996)': 462,
 'Frequency (2000)': 463,
 'Rules of Engagement (2000)': 464,
 'Quiz Show (1994)': 465,
 'Wedding Singer, The (1998)': 466,
 'Cape Fear (1991)': 467,
 'Magnolia (1999)': 468,
 'Searching for Bobby Fischer (1993)': 469,
 'Swingers (1996)': 470,
 'Star Trek: First Contact (1996)': 471,
 'Sling Blade (1996)': 472,
 'Hurricane, The (1999)': 473,
 'Chicken Run (2000)': 474,
 'My Cousin Vinny (1992)': 475,
 'Wrong Trousers, The (1993)': 476,
 'Return to Paradise (1998)': 477,
 "Wayne's World (1992)": 478,
 'Contact (1997)': 479,
 'Grand Day Out, A (1992)': 480,
 'Kolya (1996)': 481,
 'Mission: Impossible 2 (2000)': 482,
 'Trainspotting (1996)': 483,
 'Tango Lesson, The (1997)': 484,
 'Age of Innocence, The (1993)': 485,
 'Remember the Titans (2000)': 486,
 'Boat, The (Das Boot) (1981)': 487,
 'When Harry Met Sally... (1989)': 488,
 'Cutting Edge, The (1992)': 489,
 'Hype! (1996)': 490,
 'Bronx Tale, A (1993)': 491,
 "Midsummer Night's Dream, A (1999)": 492,
 'Defending Your Life (1991)': 493,
 'Breaking Away (1979)': 494,
 'Prophecy II, The (1998)': 495,
 'Alien� (1992)': 496,
 'Addams Family, The (1991)': 497,
 'Ever After: A Cinderella Story (1998)': 498,
 'Honey, I Shrunk the Kids (1989)': 499,
 'Chinatown (1974)': 500,
 'Treasure of the Sierra Madre, The (1948)': 501,
 'Naked Gun 2 1/2: The Smell of Fear, The (1991)': 502,
 'Duck Soup (1933)': 503,
 'Better Off Dead... (1985)': 504,
 'Lost in Space (1998)': 505,
 'American Graffiti (1973)': 506,
 'Home Alone (1990)': 507,
 'Ghost (1990)': 508,
 'Teenage Mutant Ninja Turtles (1990)': 509,
 'To Sir with Love (1967)': 510,
 'Blast from the Past (1999)': 511,
 'Message in a Bottle (1999)': 512,
 'Jumanji (1995)': 513,
 'My Favorite Martian (1999)': 514,
 'Batman Forever (1995)': 515,
 'Sabrina (1995)': 516,
 'Adventures in Babysitting (1987)': 517,
 'Doctor Dolittle (1967)': 518,
 'Nutty Professor, The (1963)': 519,
 "Charlotte's Web (1973)": 520,
 'Phenomenon (1996)': 521,
 'Watership Down (1978)': 522,
 'Michael (1996)': 523,
 "Bram Stoker's Dracula (1992)": 524,
 'Arsenic and Old Lace (1944)': 525,
 'Superman (1978)': 526,
 'Batman (1989)': 527,
 'Pinocchio (1940)': 528,
 'Good Earth, The (1937)': 529,
 'Lethal Weapon 4 (1998)': 530,
 'Dark Crystal, The (1982)': 531,
 "'burbs, The (1989)": 532,
 'Fried Green Tomatoes (1991)': 533,
 'Carrie (1976)': 534,
 'Journey of Natty Gann, The (1985)': 535,
 'Jungle Book, The (1967)': 536,
 'Cool Hand Luke (1967)': 537,
 'Spy Hard (1996)': 538,
 'Mystery Science Theater 3000: The Movie (1996)': 539,
 'Young Frankenstein (1974)': 540,
 'All Quiet on the Western Front (1930)': 541,
 'Rocky Horror Picture Show, The (1975)': 542,
 'Harry and the Hendersons (1987)': 543,
 'Stargate (1994)': 544,
 'Santa Clause, The (1994)': 545,
 'Houseguest (1994)': 546,
 'Lady and the Tramp (1955)': 547,
 'Fantasia (1940)': 548,
 'High Noon (1952)': 549,
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)': 550,
 'Peter Pan (1953)': 551,
 'Somewhere in Time (1980)': 552,
 "Pee-wee's Big Adventure (1985)": 553,
 'War of the Worlds, The (1953)': 554,
 'Heart and Souls (1993)': 555,
 'River Runs Through It, A (1992)': 556,
 'Producers, The (1968)': 557,
 'Star Trek: Generations (1994)': 558,
 'Robin Hood (1973)': 559,
 'Nine Months (1995)': 560,
 'NeverEnding Story, The (1984)': 561,
 'Little Big Man (1970)': 562,
 'Rescuers, The (1977)': 563,
 'Trading Places (1983)': 564,
 'Return from Witch Mountain (1978)': 565,
 "Breakfast at Tiffany's (1961)": 566,
 'First Wives Club, The (1996)': 567,
 'Return to Oz (1985)': 568,
 'Rear Window (1954)': 569,
 'Rocketeer, The (1991)': 570,
 'Being There (1979)': 571,
 'Sleeping Beauty (1959)': 572,
 'M*A*S*H (1970)': 573,
 'Jack (1996)': 574,
 'Little Shop of Horrors (1986)': 575,
 'Escape to Witch Mountain (1975)': 576,
 'Tom Jones (1963)': 577,
 'Tommy Boy (1995)': 578,
 'While You Were Sleeping (1995)': 579,
 'Practical Magic (1998)': 580,
 'Star Trek: The Motion Picture (1979)': 581,
 'Beetlejuice (1988)': 582,
 'Star Trek: The Wrath of Khan (1982)': 583,
 'Star Trek III: The Search for Spock (1984)': 584,
 'Sabrina (1954)': 585,
 'Star Trek IV: The Voyage Home (1986)': 586,
 'Batman Returns (1992)': 587,
 'Roman Holiday (1953)': 588,
 'Meet Me in St. Louis (1944)': 589,
 'Old Yeller (1957)': 590,
 '13th Warrior, The (1999)': 591,
 'Gold Rush, The (1925)': 592,
 'Homeward Bound: The Incredible Journey (1993)': 593,
 'Shaggy Dog, The (1959)': 594,
 '20,000 Leagues Under the Sea (1954)': 595,
 'Hook (1991)': 596,
 'Ace Ventura: Pet Detective (1994)': 597,
 'Mixed Nuts (1994)': 598,
 'Hero (1992)': 599,
 'Miracle on 34th Street (1994)': 600,
 'Citizen Kane (1941)': 601,
 '2001: A Space Odyssey (1968)': 602,

In [34]:
yesica, Fargo = user_to_idx[6041], movie_to_idx['Fargo (1996)']
yesica_vector, Fargo_vector = als_model.user_factors[yesica], als_model.item_factors[Fargo]

In [35]:
yesica_vector

array([-0.13129069,  0.40852815, -0.35740373,  0.24134171,  0.3522464 ,
       -0.06791404, -1.027825  , -0.38137385, -0.02685145,  0.1393857 ,
        0.36734208,  0.90277785,  0.6522533 , -0.24324042, -1.0057639 ,
       -0.54283583, -0.24606165,  0.76006013,  0.16324146, -0.11331457,
        0.6666614 , -0.19725086, -0.36773086,  0.05417748, -0.39741397,
       -0.16600513,  0.145353  , -0.15283552, -0.2775566 ,  0.0186504 ,
       -0.3652658 ,  0.23278068,  0.39850488, -0.2334876 , -0.30312115,
        0.9594973 , -0.22233614, -0.6265373 ,  0.55917513, -0.21741217,
       -0.07472374, -0.5302751 ,  1.0768979 ,  0.01526338, -0.7457432 ,
       -0.30522653,  0.19997981,  0.74897796, -0.13731208, -0.06090926,
       -0.02414213,  0.05019025,  0.11485142, -1.0160239 , -0.14235932,
       -1.3707459 , -0.46299776,  0.7429666 ,  0.30421472, -0.08030193,
       -0.59594274, -0.4307238 ,  0.12921026, -0.05844112, -0.37551904,
        0.09511943,  0.31009054,  0.8365076 , -0.8022364 , -0.16832249,
        0.592511  , -0.6259778 ,  0.96897566, -0.03940304, -1.1756104 ,
        0.55466175,  0.17327121, -0.45771092, -0.4340994 ,  0.27508992,
        0.87969416,  0.09069354, -0.02172856,  1.019284  , -0.03218764,
       -0.343784  ,  0.99810797,  1.4049094 , -0.4667894 ,  0.5378797 ,
        0.21933009,  0.03713477, -0.26688316,  0.2243927 ,  0.71198446,
        0.93224376,  0.18164489, -0.5311241 , -0.20043473, -0.0223574 ],
      dtype=float32)

In [36]:
Fargo_vector

array([-3.86369159e-03, -8.39931984e-03, -9.96936392e-03,  8.53422284e-03,
        3.28216255e-02,  3.44967237e-03, -2.17137188e-02, -6.33101258e-03,
        1.46010816e-02, -2.63961498e-02,  1.90457571e-02,  2.46354546e-02,
        1.32977488e-02,  1.40352296e-02, -2.89024599e-02,  3.32487025e-03,
        6.39699306e-03,  2.14024168e-02,  2.15999093e-02, -2.05674898e-02,
        1.61626022e-02,  5.26934338e-04, -5.41465590e-03,  1.24572776e-02,
       -1.00834453e-02,  1.92619767e-02,  1.58580057e-02,  8.70232005e-03,
        1.74223687e-02, -5.75331447e-04, -1.87636968e-02, -2.45866645e-02,
        2.38329768e-02, -2.54171658e-02,  6.57530967e-03,  5.08317463e-02,
        1.32553130e-02,  2.17085965e-02,  2.80724261e-02,  1.04777869e-02,
       -5.85206272e-03, -1.63103100e-02,  3.02027632e-02,  1.26034674e-05,
        5.62306447e-03,  1.75030306e-02,  5.22580603e-03,  1.29597476e-02,
        1.89326275e-02,  3.93995130e-03,  3.02157383e-02,  1.23000164e-02,
        5.11050411e-03, -3.03799752e-02,  2.76235528e-02, -1.23632690e-02,
       -7.98263680e-03,  1.28388433e-02,  1.93830468e-02, -6.64384663e-03,
       -1.84464585e-02, -1.28003042e-02,  9.01684072e-03, -2.19365768e-02,
       -3.35736386e-03,  5.51097281e-03, -9.65081342e-03,  3.52285355e-02,
       -1.06508937e-02, -4.49131988e-03,  2.47339029e-02, -2.90701445e-02,
        5.33858165e-02, -1.65716186e-02, -1.72002427e-02,  2.75500324e-02,
        1.33258151e-02, -1.67183671e-03, -1.04303882e-02,  1.81584079e-02,
        1.50424475e-02,  1.73723081e-03,  1.62478574e-02,  2.44618487e-02,
       -7.27069192e-03, -1.73837449e-02,  1.27150305e-02,  2.97409259e-02,
       -1.17989257e-03,  1.97824948e-02,  1.09871607e-02,  1.58423465e-02,
       -3.74518480e-04,  4.57294332e-03,  1.83536392e-02,  2.29275804e-02,
       -2.24276725e-03, -1.01454891e-02, -1.28439041e-02, -1.21148741e-02],
      dtype=float32)

In [37]:
# yesica와 Fargo를 내적하는 코드
np.dot(yesica_vector, Fargo_vector)

0.63758254

## 7) 내가 좋아하는 영화와 비슷한 영화를 추천받아 봅시다.

In [38]:
# 모델이 yesica의 Braveheart에 대한 선호도를 어떻게 예측할지 한 번 보겠습니다
Braveheart = movie_to_idx['Braveheart (1995)']
Braveheart_vector = als_model.item_factors[Braveheart]
np.dot(yesica_vector, Braveheart_vector)

0.48353398

In [39]:
# 'Toy Story (1995)'와 비슷한 영화를 추천해준다.
favorite_movie = 'Toy Story (1995)'
movie_id = movie_to_idx[favorite_movie]
similar_movie = als_model.similar_items(movie_id, N=15)
similar_movie

[(40, 0.19408692),
 (50, 0.15441471),
 (4, 0.11433132),
 (33, 0.11373418),
 (322, 0.106304124),
 (110, 0.10014886),
 (330, 0.0924502),
 (10, 0.08736635),
 (255, 0.08061872),
 (20, 0.07713828),
 (34, 0.07629687),
 (16, 0.0757042),
 (32, 0.07312702),
 (126, 0.07292574),
 (160, 0.06774406)]

In [40]:
#movie_to_idx 를 뒤집어, index로부터 movie 이름을 얻는 dict를 생성합니다. 
idx_to_movie = {v:k for k,v in movie_to_idx.items()}
[idx_to_movie[i[0]] for i in similar_movie]

['Toy Story (1995)',
 'Toy Story 2 (1999)',
 "Bug's Life, A (1998)",
 'Aladdin (1992)',
 'Babe (1995)',
 'Groundhog Day (1993)',
 'Lion King, The (1994)',
 'Beauty and the Beast (1991)',
 "There's Something About Mary (1998)",
 'Pleasantville (1998)',
 'Mulan (1998)',
 'Tarzan (1999)',
 'Hercules (1997)',
 'Shakespeare in Love (1998)',
 'Forrest Gump (1994)']

In [41]:
# 'Sixth Sense, The (1999)'와 비슷한 영화를 추천해준다.
favorite_movie = 'Sixth Sense, The (1999)'  # Sixth Sense, The (1999)
movie_id = movie_to_idx[favorite_movie]
similar_movie = als_model.similar_items(movie_id, N=15)
similar_movie

[(38, 0.21406253),
 (121, 0.10981776),
 (233, 0.103438094),
 (273, 0.095723726),
 (170, 0.090858966),
 (141, 0.089917436),
 (796, 0.08807225),
 (243, 0.08675505),
 (220, 0.085553214),
 (235, 0.08510645),
 (124, 0.08447961),
 (157, 0.08338865),
 (818, 0.08229368),
 (3591, 0.08115391),
 (1706, 0.080697864)]

In [42]:
#movie_to_idx 를 뒤집어, index로부터 영화 title을 얻는 dict를 생성합니다. 
idx_to_movie = {v:k for k,v in movie_to_idx.items()}
[idx_to_movie[i[0]] for i in similar_movie]

['Sixth Sense, The (1999)',
 'Silence of the Lambs, The (1991)',
 'Usual Suspects, The (1995)',
 'Fight Club (1999)',
 'Being John Malkovich (1999)',
 'Fugitive, The (1993)',
 'Bone Collector, The (1999)',
 'Ghostbusters (1984)',
 'Seven (Se7en) (1995)',
 'Sleepy Hollow (1999)',
 'Matrix, The (1999)',
 'Shawshank Redemption, The (1994)',
 'Stigmata (1999)',
 "Heaven's Burning (1997)",
 'Stuart Little (1999)']

In [43]:
def get_similar_movie(movie_name: str):
    movie_id = movie_to_idx[movie_name]
    similar_movie = als_model.similar_items(movie_id)
    similar_movie = [idx_to_movie[i[0]] for i in similar_movie]
    return similar_movie

In [44]:
# 'Matrix, The (1999)'와 비슷한 영화를 추천해준다.
get_similar_movie('Matrix, The (1999)')

['Matrix, The (1999)',
 'Terminator 2: Judgment Day (1991)',
 'Total Recall (1990)',
 'Fugitive, The (1993)',
 'Terminator, The (1984)',
 'Face/Off (1997)',
 'Fifth Element, The (1997)',
 'Twelve Monkeys (1995)',
 'Jurassic Park (1993)',
 'Hunt for Red October, The (1990)']

## 8) 내가 가장 좋아할 만한 영화들을 추천받아 봅시다.

In [45]:
# 내가 좋아할 만한 영화를 추천해준다
user = user_to_idx[6041]
# recommend에서는 user*item CSR Matrix를 받습니다.
movie_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
movie_recommended

[(121, 0.66327906),
 (157, 0.597315),
 (23, 0.57990444),
 (48, 0.51934767),
 (50, 0.46173364),
 (99, 0.45476407),
 (233, 0.4459082),
 (269, 0.4279489),
 (248, 0.354133),
 (224, 0.3137439),
 (92, 0.3134439),
 (141, 0.29781377),
 (4, 0.2944352),
 (289, 0.28461748),
 (322, 0.27273256),
 (220, 0.2586512),
 (170, 0.25621277),
 (472, 0.24752188),
 (124, 0.24330378),
 (110, 0.2416741)]

In [46]:
# 내가 좋아할 만한 영화 타이틀들을 보여준다.
[idx_to_movie[i[0]] for i in movie_recommended]

['Silence of the Lambs, The (1991)',
 'Shawshank Redemption, The (1994)',
 "Schindler's List (1993)",
 'Saving Private Ryan (1998)',
 'Toy Story 2 (1999)',
 'American Beauty (1999)',
 'Usual Suspects, The (1995)',
 'GoodFellas (1990)',
 'Good Will Hunting (1997)',
 'L.A. Confidential (1997)',
 'Terminator 2: Judgment Day (1991)',
 'Fugitive, The (1993)',
 "Bug's Life, A (1998)",
 'Reservoir Dogs (1992)',
 'Babe (1995)',
 'Seven (Se7en) (1995)',
 'Being John Malkovich (1999)',
 'Sling Blade (1996)',
 'Matrix, The (1999)',
 'Groundhog Day (1993)']

In [47]:
# Pulp Fiction (1994) 비슷한 영화를 추천해준다
Pulp_Fiction = movie_to_idx['Pulp Fiction (1994)'] # Pulp Fiction (1994)
explain = als_model.explain(user, csr_data, itemid=Pulp_Fiction)

In [48]:
[(idx_to_movie[i[0]], i[1]) for i in explain[1]]

[('Pulp Fiction (1994)', 0.29985088780633784),
 ('Fargo (1996)', 0.2193270116197911),
 ('Sixth Sense, The (1999)', 0.05058031669480803),
 ('Toy Story (1995)', 0.00018020851485293942),
 ('Braveheart (1995)', -0.012199292523138207)]

In [49]:
# 입력한 영화와 유사한 영화를 추천해 준다